/** custom font */
@font-face {
  font-family: 'gochi_handregular';
  src: url('../fonts/gochihand-regular-webfont.woff2') format('woff2'),
       url('../fonts/gochihand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* normalize form elements https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements*/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  border-color: transparent;
  color: rgb(1, 1, 1, 0.6);
  cursor: not-allowed;

}

/* || COPIED CODE START */
/* tricks copied from https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling*/
input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: none;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color:#8C0303;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

/* COPIED CODE END */

body {
  /* react default settings */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Times New Roman', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom settings */
  background-color: #8C0303;
  color: white;
  text-align: center;

  line-height: 2;
  min-height: 100vh;
}
 
/* TODO: replace this with <hr> */
.divider {
  margin-top: 2rem;
  border-top: 3px solid white;
}

canvas {
  border: 1px solid black;
}

@media screen and (max-width : 600px) {
  body {
    font-size: 12px;
  }
}

@media(min-width: 601px) and (max-width: 960px) {
  body {
    font-size: 13px;
  }
}